@import "../common/baseStyles";
@import "../common/ContentCard";

.red{
  color: #ff003c;
}
.feature-heading{
  font-size: 2.12em;
  color: #1e1e1e;
  font-weight: bold;
  line-height: 1.36em;
  text-align: center;
}
.feature-container:hover{
  box-shadow: -2px 47px 212px -56px rgba(0,0,0,0.18);
}
.features-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 63px;
  margin-bottom: 63px;
}
.bot-features-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.bot-features-container.mobile{
  .features-container{
    flex-direction: column;
    .feature-container{
      margin-left:0px;
      margin-bottom:20px;
      box-shadow: -2px 47px 212px -56px rgba(0,0,0,0.18);
    }
  }
}
.automation-section{
  position: relative;
}
.mobileContentCard.automation-section{
  position: relative;
  .image{
    display:none;
  }
}
.partner-down{
  left: 9.4%;
  bottom: 120px;
  position: absolute;
  
}
.partner-text{
  font-size: 20px;
  margin-right: 4px;
  display: inline-block;
  text-decoration: underline;
}
.partner-icon{
 width: 20px;
 height: 20px;
 display: inline-block;
 vertical-align: middle;
 background-repeat: no-repeat;
 background-image: url('/images/english/down.svg');
}
.infoBack{
  width: 600px;
  height: 600px;
  background-image: url('/static/images/english/infoBack@3x.png');
  background-size: 100% 100%;
  position: absolute;
  background-repeat: no-repeat;
  top: 0%;
  z-index: -1;
  left: 0%;
  padding: 5%;
  box-sizing: border-box;
}
.infoBlock.mobile{
  box-shadow: -2px 47px 212px -56px rgba(0,0,0,0.18);
  .leftImage{
    height:200px;
  }
  .column{
    text-align:center;
  }
}
.enterpriseInfo.mobile{
  padding:20px;
  .head-text{
    margin-bottom:20px;
    font-size:1.6em;
  }
  .tabs{
    .tab{
      font-size:1.2em;
    }
  }
  .widgetHeader{
    padding: 1% 0% 20% 0%;
    text-align: center;
  }
}
.enterpriseInfo{
  height: 700px;
  display: flex;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 140px;
  .head-text{
    font-size: 2.12em;
    color: #1e1e1e;
    font-weight: bold;
    line-height: 1.36em;
    vertical-align: middle;
  }
  .tab.active{
    background:black;
    color:white;
  }
  .tab{
    border: 1px solid black;
    cursor:pointer;
  }
  .tab-right-button{
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
  }
  .tab-left-button{
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
  }
  .widgetHeader{
    box-sizing: border-box;
    padding: 1% 0% 4% 0%;
  }
  .wInvert300{
    width: calc(100% - 300px);
  }
  .widgetContainer{
    width: 1030px;
    top: 12%;
    // padding: 0 9.4%;
    position: absolute;
    .infoBlock{
      height: 450px;
      justify-content: center;
      box-shadow: -2px 47px 212px -56px rgba(0, 0, 0, .18);
    }
    .leftImage{
      margin-right: 30px;
    }
    h3{
      font-size: 2.12em;
      color: #1e1e1e;
      font-weight: bold;
      line-height: 1.36em;
      vertical-align: middle;
    }
    p{
      font-size: 1.22em;
      color: #1e1e1e;
      margin-bottom: 1%;
      line-height: 1.4em;
    }
  }
}
.newsCarouselWidget{
  width: 100%;
  padding-left: 9.4%;
  margin-bottom: 100px;
  position: relative;
  .news-heading{
    font-size: 2.12em;
    color: #1e1e1e;
    font-weight: bold;
    line-height: 1.36em;
    margin-bottom: 3%;
  }
  .leftAbs{
    position: absolute;
    left: 0;
    background-image: url('/static/images/english/leftAbs@3x.png');
    height: 250px;
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: -15%;
  }
  .rightAbs{
    position: absolute;
    right: 0;
    background-image: url('/static/images/english/rightAbs@3x.png');
    height: 500px;
    width: 500px;
    top: -24%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .newsCarousel{
    width: 100%;
  }
  .image{
    width: 100%;
    height: 160px;
    background-size: 300px 220px;
    background-position: center;
  }
  .card{
    margin-right:20px;
    padding: 0;
    width: 300px;
    box-shadow: 0 2px 33px 0 rgba(0, 0, 0, 0.08);
    .text{
      padding:5%;
      font-size:14px;
      font-weight: bold;
      line-height: 1.26;
      text-align: left;
      color: #1e1e1e;
      min-height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .VueCarousel-wrapper{
    padding-bottom: 1%;
  }
  .VueCarousel-navigation-button{
    top: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    background-color: white !important;
    box-shadow: 0 3px 9px 0 #e6e6e6;
  }
  .VueCarousel-navigation-button.VueCarousel-navigation-prev{
    left: 1%;
  }
  .VueCarousel-navigation-button.VueCarousel-navigation-next{
    left: 89%;
  }
  .is-mobile .VueCarousel-navigation-button.VueCarousel-navigation-prev{
    left: 6%;
  }
  .is-mobile .VueCarousel-navigation-button.VueCarousel-navigation-next{
    right: 16%;
    left: auto;
  }
  .VueCarousel-inner{
    flex-basis: 270px !important;
  }
}
.VueCarousel-slide{
  width: 300px !important;
}
.mobileNewsCarousel{
  .VueCarousel-navigation{
    display:none !important;
  }
}