@import "../common/baseStyles";
@import "../common/ContentCard";

.red{
  color: #ff003c;
}
.feature-heading{
  font-size: 38px;
  text-align: center;
}
.features-container{
  display: flex;
  justify-content: center;
  margin-top: 63px;
  margin-bottom: 63px;
}
.bot-features-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}