@import "../common/baseStyles";
@import "../common/ContentCard";

.red{
  color: #ff003c;
}
.feature-heading{
  font-size: 38px;
  text-align: center;
}
.features-container{
  display: flex;
  justify-content: center;
  margin-top: 63px;
  margin-bottom: 63px;
}
.bot-features-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.infoBack{
  width: 600px;
  height: 600px;
  background-image: url('/static/images/infoBack@3x.png');
  background-size: 100% 100%;
  position: absolute;
  background-repeat: no-repeat;
  top: 0%;
  z-index: -1;
  left: 0%;
  padding: 5%;
  box-sizing: border-box;
}
.enterpriseInfo{
  height: 700px;
  display: flex;
  align-items: center;
  margin-top: 200px;
  .tab.active{
    background:black;
    color:white;
  }
  .tab{
    cursor:pointer;
  }
  .widgetHeader{
    box-sizing: border-box;
    padding: 1% 0% 4% 0%;
  }
  .wInvert300{
    width: calc(100% - 300px);
  }
  .widgetContainer{
    position: absolute;
    top: 12%;
  }
}
.newsCarouselWidget{
  .heading{
    font-size: 20px;
  }
  .leftAbs{
    position: absolute;
    left: 0;
  }
  .rightAbs{
    position: absolute;
    right: 0;
  }
  .newsCarousel{
    width: 80%;
    margin-left: 20%;
  }
  .image{
    width: 100%;
    height: 160px;
    background-size: 300px 220px;
    background-position: center;
  }
  .card{
    margin-right:20px;
    box-shadow: 0 2px 33px 0 rgba(0, 0, 0, 0.08);
    .text{
      padding:5%;
      font-size:14px;
      font-weight: bold;
      line-height: 1.26;
      text-align: left;
      color: #1e1e1e;
    }
  }
}