$variable-columns: false;

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/bulma";

#__layout{
	background:#fafafa7a;
	min-width:1088px;
}
.align-center{
	align-items:center;
}
.h80{
	height:80px;
}
.h60{
	height:60px;
}
.mr20{
	margin-right:20px;
}
.blackOpaque{
	background-color:rgba(0,0,0,0.8) !important;
}
.row{
	flex-direction:row;
}
.column{
	flex-direction:column;
}
.black{
	background:black;
}
.inline-flex{
	display:inline-flex !important;
}
.inlineFlex{
	display:inline-flex !important;
}
.roundedTop{
	border-radius: 15px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.white{
	background:white;
}
.colorWhite{
	color:white;
}
.f13{
	font-size:13px;
}
.f12{
	font-size:12px;
}
.f14{
	font-size:14px;
}
.f16{
	font-size:16px;
}
.f18{
	font-size:18px;
}
.f25{
	font-size:25px;
}
.mt8{
	margin-top:8px;
}
.mt10{
	margin-top:10px;
}
.center{
	align-items:center;
	justify-content:center;
}
.vTop{
	vertical-align:top;
}
.mr10{
	margin-right:10px;
}
.bold{
	font-weight:bold;
}
.colorDarkBlack{
	color: #1e1e1e;
}
.vue-slider-component{
	.vue-slider-dot{
		background-color: #ff003c;
		border: solid 2px #ffffff;
		width: 25px !important;
		height: 25px !important;
		top:-11px !important;
	}
	.vue-slider-process{
		background-color: #ff003c;
	}
	.vue-slider{
		background-color: #dee0e6;
		height:4px !important;
	}
	.vue-slider-tooltip-wrap{
		display:none !important;
		opacity:0;
	}
}
.alignRight{
	justify-content:flex-end;
}
.alignLeft{
	justify-content:flex-start;
}
.pr5{
	padding-right:5px;
}
.rel{
	position:relative;
}
.relImp{
	position:relative !important;
}
.hAuto{
	height:auto !important;
}
.card{
	background:white;
}
.w800{
	width:800px;
}
.w300{
	width:300px;
}
.h340{
	height:340px;
}
.padding10{
	padding:10px;
}
.borderRight{
	border-right:1px solid black;
}
.ml5{
	margin-left:5px;
}
.mt10{
	margin-top:10px;
}
.w40{
	width:40%;
}
.w60{
	width:60%;
}

.is-block {
  display: block !important;
}

@media screen and (max-width: 768px) {
  .is-block-mobile {
    display: block !important;
  }
}

@media screen and (min-width: 769px), print {
  .is-block-tablet {
    display: block !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1087px) {
  .is-block-tablet-only {
    display: block !important;
  }
}

@media screen and (max-width: 1087px) {
  .is-block-touch {
    display: block !important;
  }
}

@media screen and (min-width: 1088px) {
  .is-block-desktop {
    display: block !important;
  }
}

@media screen and (min-width: 1088px) and (max-width: 1279px) {
  .is-block-desktop-only {
    display: block !important;
  }
}

@media screen and (min-width: 1280px) {
  .is-block-widescreen {
    display: block !important;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1471px) {
  .is-block-widescreen-only {
    display: block !important;
  }
}

@media screen and (min-width: 1472px) {
  .is-block-fullhd {
    display: block !important;
  }
}

.is-flex {
  display: flex !important;
}

@media screen and (max-width: 768px) {
  .is-flex-mobile {
    display: flex !important;
  }
}

@media screen and (min-width: 769px), print {
  .is-flex-tablet {
    display: flex !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1087px) {
  .is-flex-tablet-only {
    display: flex !important;
  }
}

@media screen and (max-width: 1087px) {
  .is-flex-touch {
    display: flex !important;
  }
}

@media screen and (min-width: 1088px) {
  .is-flex-desktop {
    display: flex !important;
  }
}

@media screen and (min-width: 1088px) and (max-width: 1279px) {
  .is-flex-desktop-only {
    display: flex !important;
  }
}

@media screen and (min-width: 1280px) {
  .is-flex-widescreen {
    display: flex !important;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1471px) {
  .is-flex-widescreen-only {
    display: flex !important;
  }
}

@media screen and (min-width: 1472px) {
  .is-flex-fullhd {
    display: flex !important;
  }
}

.is-inline {
  display: inline !important;
}

@media screen and (max-width: 768px) {
  .is-inline-mobile {
    display: inline !important;
  }
}

@media screen and (min-width: 769px), print {
  .is-inline-tablet {
    display: inline !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1087px) {
  .is-inline-tablet-only {
    display: inline !important;
  }
}

@media screen and (max-width: 1087px) {
  .is-inline-touch {
    display: inline !important;
  }
}

@media screen and (min-width: 1088px) {
  .is-inline-desktop {
    display: inline !important;
  }
}

@media screen and (min-width: 1088px) and (max-width: 1279px) {
  .is-inline-desktop-only {
    display: inline !important;
  }
}

@media screen and (min-width: 1280px) {
  .is-inline-widescreen {
    display: inline !important;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1471px) {
  .is-inline-widescreen-only {
    display: inline !important;
  }
}

@media screen and (min-width: 1472px) {
  .is-inline-fullhd {
    display: inline !important;
  }
}

.is-inline-block {
  display: inline-block !important;
}

@media screen and (max-width: 768px) {
  .is-inline-block-mobile {
    display: inline-block !important;
  }
}

@media screen and (min-width: 769px), print {
  .is-inline-block-tablet {
    display: inline-block !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1087px) {
  .is-inline-block-tablet-only {
    display: inline-block !important;
  }
}

@media screen and (max-width: 1087px) {
  .is-inline-block-touch {
    display: inline-block !important;
  }
}

@media screen and (min-width: 1088px) {
  .is-inline-block-desktop {
    display: inline-block !important;
  }
}

@media screen and (min-width: 1088px) and (max-width: 1279px) {
  .is-inline-block-desktop-only {
    display: inline-block !important;
  }
}

@media screen and (min-width: 1280px) {
  .is-inline-block-widescreen {
    display: inline-block !important;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1471px) {
  .is-inline-block-widescreen-only {
    display: inline-block !important;
  }
}

@media screen and (min-width: 1472px) {
  .is-inline-block-fullhd {
    display: inline-block !important;
  }
}

.is-inline-flex {
  display: inline-flex !important;
}

@media screen and (max-width: 768px) {
  .is-inline-flex-mobile {
    display: inline-flex !important;
  }
}

@media screen and (min-width: 769px), print {
  .is-inline-flex-tablet {
    display: inline-flex !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1087px) {
  .is-inline-flex-tablet-only {
    display: inline-flex !important;
  }
}

@media screen and (max-width: 1087px) {
  .is-inline-flex-touch {
    display: inline-flex !important;
  }
}

@media screen and (min-width: 1088px) {
  .is-inline-flex-desktop {
    display: inline-flex !important;
  }
}

@media screen and (min-width: 1088px) and (max-width: 1279px) {
  .is-inline-flex-desktop-only {
    display: inline-flex !important;
  }
}

@media screen and (min-width: 1280px) {
  .is-inline-flex-widescreen {
    display: inline-flex !important;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1471px) {
  .is-inline-flex-widescreen-only {
    display: inline-flex !important;
  }
}

@media screen and (min-width: 1472px) {
  .is-inline-flex-fullhd {
    display: inline-flex !important;
  }
}

.is-hidden {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .is-hidden-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 769px), print {
  .is-hidden-tablet {
    display: none !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1087px) {
  .is-hidden-tablet-only {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .is-hidden-touch {
    display: none !important;
  }
}

@media screen and (min-width: 601px) {
  .is-hidden-desktop {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
	#__layout{
		min-width:0;
	}
}

@media screen and (min-width: 1088px) and (max-width: 1279px) {
  .is-hidden-desktop-only {
    display: none !important;
  }
}

@media screen and (min-width: 1280px) {
  .is-hidden-widescreen {
    display: none !important;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1471px) {
  .is-hidden-widescreen-only {
    display: none !important;
  }
}

@media screen and (min-width: 1472px) {
  .is-hidden-fullhd {
    display: none !important;
  }
}
.nuxt-link-active{
	color: #ff003c;
}