$variable-columns: false;

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/bulma";

.align-center{
	align-items:center;
}
.h80{
	height:80px;
}
.h60{
	height:60px;
}
.mr20{
	margin-right:20px;
}
.blackOpaque{
	background-color:rgba(0,0,0,0.8) !important;
}